  <script type="text/javascript">
      jQuery(document).ready(function($) {
      });
      function validatePassword() {
            if(document.getElementById('password').value == document.getElementById('repassword').value){ 
                 return true;
                 }
            else{
                 alert("Both Paasword is not matching, please try again !!!");
                 return false;
                }
      }
      /*function clickedFun(){
                    var data = {};
                    var items = document.getElementsByTagName('td');
                    var id = document.getElementById('uid').value;
                    var email = document.getElementById('em').value;
                    var username = items[1].innerHTML;
                    data.id = uid;
                    data.username = username;
		    data.email = email;
                    $.ajax({
                          url: 'http://localhost:9090/admin/saveUser',
                          data: { id: id, username:username, email:email },
                          type: 'POST',
                          });
         }
     function deleteUser() {
                    var id = document.getElementById('uid').value;
                    alert(id);
                    $.ajax({
                          url: 'http://localhost:9090/admin/deleteUser',
                          data: {id: id},
                          type: 'POST',
                          });
          } */
     function deleteUser() {
                       var form = document.getElementById('userForm');
                       form.action = "/admin/deleteUser";
                       form.submit();
          }

        </script>
    <div class="page-header">
     <h2 class="sub-header">Change Password</h2>
    </div>
          <div class="table-responsive">
          <form action="/changePassword" id="passForm"  method="post" role="form" onsubmit="return validatePassword();">
              <div class="form-group">
                  <label for="Password">New Password</label>
                  <input type='password' class='form-control' id='password' name='password' value='' ></input>
              </div>
              <div class="form-group">
                  <label for="RePassword">Retype Password</label>
                  <input type='password' class='form-control' id='repassword' name='repassword' value='' ></input>
              </div>
              <div id='_id'></div>
              <div class="form-actions pull-right"> 
                  <input type=submit id="save_details" class="btn btn-primary"  align="right" value='Change Password'></input>
              </div>
           </form>
          <button class="btn btn-primary" onclick="location.href='/dashboard';">Back</button>

    </div>
    </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="/javascripts/bootstrap.js"></script>
  </body>
</html>
