    <div class="container">
    <div class="jumbotron">
    <h3>Control Panel</h3>

    <div class="row">
        <div class="col-sm-4">
          <div class="panel panel-danger">
            <div class="panel-heading">
              <h3 class="panel-title">Application</h3>
            </div>
            <div class="panel-body">
                <a href="/did" class="list-group-item">IVR</a>
                <a href="#" class="list-group-item">Account Information</a>
            </div>
          </div>
        </div><!-- /.col-sm-4 -->
        <div class="col-sm-4">
          <div class="panel panel-danger">
            <div class="panel-heading">
              <h3 class="panel-title">Reports</h3>
            </div>
            <div class="panel-body">
                <a href="/report" class="list-group-item">Calls Detail Report</a>
            </div>
          </div>
        </div><!-- /.col-sm-4 -->
     </div>
    </div>
   </div> <!--/.div container -->
    </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="/javascripts/bootstrap.js"></script>
  </body>
</html>
