        <div class="page-header">
           <h3>Add Super Receptionist</h3>
        </div>
          <div class="table-responsive">
	<form action="/virtualReceptionist" method="post" role="form" enctype="multipart/form-data">
              <div class="form-group">
                  <label for="DID">Select Did</label>
                  <select  name='didList' class="form-control" >
                  </select>
              </div>
              <div class="form-group">
                <input type="button" name= "textButton" class="btn btn-primary" onclick="showHideCompById('welcome_text')" value="Add Welcome Messege"/>
                <input type="button" name= "audioButton" class="btn btn-primary" onclick="showHideCompById('welcome_audio')" value="Upload Welcome Audio"/><br>
                <div id="welcome_text" style="display:none">
                  <label for="WelcomeText">Enter Welcome Text</label>
                  <input class="form-control"  type="text" name='welcome_text'/>
                </div>
                <div id="welcome_audio" style="display:none">
                  <label for="WelcomeText">Upload Welcome Audio</label>
                  <input type="file" class="form-control " name="welcome_audiofile">
                </div>
              </div>
              <div class="form-group col-sm-5">
                  <label for="Extension">Extension</label>
                  <input type="number" class="form-control" name="extension1" min="0" max="9999" placeholder="Enter the extension" required = "">
              </div>
              <div class="form-group col-sm-5">
                  <label for="NumberForward">Number to be forwarded</label>
                  <input type="number" class="form-control " name="number_forward1" min="7000000000" max="9999999999" placeholder="Enter Ftp User's Name" required = "">
              </div>
	      <div id="extension_number"></div>
              <div class="form-actions pull-right"> 
                  <input type=hidden value="1" id="noext" name="noext"></input>
                  <input type=button class="btn btn-primary" value="Add More Extensions" onclick="addFileField()"></input>
                  <input type=submit id="add" class="btn btn-primary" align="right" value='Add'></input>
                  <input type=reset class="btn" value="Reset">
              </div>
           </form>
          </div>
       </div>
     </div>
    </div>


  <script type="text/javascript">
      var i = 2;
      jQuery(document).ready(function($) {
      });
      var welcome_audio_div = '<label for="WelcomeText">Upload Welcome Audio</label><input type="file" class="form-control " name="welcome_audiofile">';
      var welcome_msg_div = '<label for="WelcomeText">Enter Welcome Text</label><input class="form-control"  type="text" name="welcome_text"/>';
      function addFileField(){
	var newDiv = document.createElement('div');
	var newDiv2 = document.createElement('div');
	newDiv.className = "form-group col-sm-5";
	newDiv2.className = "form-group col-sm-5";
	var extension = document.createElement('input');
	var number_frwrd = document.createElement('input');
	extension.type = "number";
	number_frwrd.type = "number";
	extension.name = "extension"+i;
	extension.min = "0";
	extension.max = "9999";
	number_frwrd.name = "number_forward"+i;
	number_frwrd.min = "7000000000";
	number_frwrd.max = "9999999999";
        extension.className = "form-control ";
        number_frwrd.className = "form-control ";
	newDiv.appendChild(extension);
	newDiv2.appendChild(number_frwrd);
	document.getElementById('noext').value = i;
	document.getElementById('extension_number').appendChild(newDiv);
	document.getElementById('extension_number').appendChild(newDiv2);
        i++;
      }

      function showHideCompById(id){
        if(id === 'welcome_text'){
           document.getElementById("welcome_text").innerHTML = welcome_msg_div;
           document.getElementById("welcome_audio").innerHTML = '';
        }
        else{
           document.getElementById("welcome_audio").innerHTML = welcome_audio_div;
           document.getElementById("welcome_text").innerHTML = '';
        }
        document.getElementById("welcome_text").style.display = 'none';
        document.getElementById("welcome_audio").style.display = 'none';
        document.getElementById(id).style.display = 'block';
      }
        </script>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="/javascripts/bootstrap.js"></script>
    <script src="http://localhost:9090/socket.io/socket.io.js"></script>
    <script src="/javascripts/delivery.js"></script>
  </body>
</html>
